/* style.css */
@import url( 
"https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap"); 


body { 
    background-image: url(Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #000000; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,monospace;
} 
h1 { 
    font-family:"Rubik Mono One", monospace;
    font-size: 40px;
    padding-top: 20px;
    text-align: center; 
    color: #080444; 
}
.generator { 
    background-color: #edf3f3; 
    width: 500px; 
    margin: 100px auto; 
    padding: 20px; 
    border-radius: 10px; 
} 
  
div.password { 
    display: grid; 
    grid-template-columns: auto min-content; 
    border-radius: 50px; 
    overflow: hidden; 
} 
  
div.password input { 
    padding: 14px 20px; 
    background-color: #ddd; 
    border: 0; 
    color: #000000; 
    font-size: 20px;
} 
  
button { 
    background-color: #e88bf4; 
    color: #fff; 
    text-transform: uppercase; 
    padding: 5px 15px; 
    border: 0; 
    border-radius: 10px; 
} 
  
div.password button { 
    border-radius: 0; 
} 
  
div.range { 
    margin: 10px 0; 
    display: grid; 
    grid-template-columns: 1fr min-content; 
} 
  
div.range span { 
    background-color: #ddd; 
    padding: 10px; 
    margin-left: 20px; 
    min-width: 30px; 
    text-align: center; 
    border-radius: 10px; 
} 
  
div.options { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
} 
  
div.options label { 
    display: block; 
    background-color: #ddd; 
    padding: 10px; 
    border-radius: 10px; 
    cursor: pointer; 
    font-family: sans-serif; 
} 
  
button.generate { 
    width: 100%; 
    margin-top: 10px; 
    padding: 10px; 
} 
  
